<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapters</ion-title>
    <ion-buttons slot="end">
      <app-authentication-button></app-authentication-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchInputChanged($event)" (ionCancel)="searchInputCanceled()" debounce="100"></ion-searchbar>
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">
    
  <ion-grid>
    <ion-row *ngIf="!isLoading && !pagedChapters">
      <ion-col size="12">
          There are no chapters
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading && pagedChapters" class="horizontal-scroll">
      <ion-col size="12">
          <ion-chip *ngFor="let tag of tags" [outline]="tag.isActive" (click)="clickTag(tag)">{{tag.label}}
            <ion-icon *ngIf="tag.isActive" name="close-circle"></ion-icon>
          </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="chapters-box" *ngIf="!isLoading && pagedChapters">
    
      <ion-list *ngIf="!isLoading && pagedChapters && pagedChapters.length"  lines="full">
        <ion-list-header><h3>Recent</h3></ion-list-header>
        <ion-item *ngFor="let chapter of pagedChapters | slice:0:3" (click)="clickGoToChapter(chapter)">
          <ion-avatar slot="start">
            <img src="./assets/journal-chapter3.jpg">
          </ion-avatar>
          <ion-label>
            <h2>{{chapter.title}}</h2>
            <!-- <p>{{chapter.body.substr(0, 30)}}...</p> -->
            <p>{{chapter.updatedAt ? 'updated:' : 'created:'}} {{(chapter.updatedAt || chapter.createdAt) | date: 'dd/MM/yyyy'}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
  
      <ion-list *ngIf="!isLoading && pagedChapters && pagedChapters.length > 3"  lines="full">
        <ion-list-header><h3>All</h3></ion-list-header>
        <ion-item *ngFor="let chapter of pagedChapters | slice:3" (click)="clickGoToChapter(chapter)">
          <ion-avatar slot="start">
            <img src="./assets/journal-chapter3.jpg">
          </ion-avatar>
          <ion-label>
            <h2>{{chapter.title}}</h2>
            <!-- <p>{{chapter.body.substr(0,30)}}...</p> -->
            <p>{{chapter.updatedAt ? 'updated:' : 'created:'}} {{(chapter.updatedAt || chapter.createdAt) | date: 'dd/MM/yyyy'}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>


</ion-content>
