

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-chip slot="end" *ngIf="isEditMode" (click)="clickDone()" outline color="primary" [disabled]="!isPageValid()">
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-label>Save</ion-label>
    </ion-chip>
    <ion-chip slot="end" *ngIf="!isEditMode" (click)="clickEdit()" outline color="primar">
      <ion-icon name="create"></ion-icon>
      <ion-label>Edit</ion-label>
    </ion-chip>
    <ion-menu-button menu="main-menu" slot="end">
      <ion-avatar>
        <app-avatar></app-avatar>
      </ion-avatar>
    </ion-menu-button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar *ngIf="isLoading" type="indeterminate" style="margin-top:50%"></ion-progress-bar> 
  <div class="home-background" *ngIf="book">
    <ion-grid *ngIf="!isLoading" class="home-content">
      <ion-row style="margin-top:25%">
        <ion-col><div></div></ion-col>
        <ion-col>
        </ion-col>
        <ion-col><div></div></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1>
            <span *ngIf="!isEditMode">{{book.title}}</span>
            <ion-input *ngIf="isEditMode" [(ngModel)]="book.title" placeholder="title..."></ion-input>   
          </h1>
          <ion-textarea *ngIf="isEditMode" [(ngModel)]="book.about" placeholder="about..."></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p *ngIf="!isEditMode">
            {{book.about}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row style="text-align:center">
        <ion-col size="12">
          <ion-button [disabled]="isEditMode" (click)="clickNewEntry()">New Entry</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
