<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">

  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle>Register for your free account</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegistration()">
        <ion-list>
          <ion-item>
            <ion-label for="email">Email:</ion-label>
            <ion-input id="email" type="email" formControlName="email" required></ion-input>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-grid *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
            <ion-row>
              <ion-col><div class="error-text" *ngIf="email.errors?.['email']">Invalid email</div></ion-col>
            </ion-row>
          </ion-grid>
          <ion-item>
            <ion-label for="password">Password:</ion-label>
            <ion-input id="password" type="password" formControlName="password" required></ion-input>
            <ion-icon name="lock-closed"></ion-icon>
          </ion-item>
          <ion-grid *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
            <ion-row>
              <ion-col><div class="error-text" *ngIf="password?.errors?.['minlength']">password must be at least 6 characters</div></ion-col>
            </ion-row>
          </ion-grid>
          <ion-item>
            <ion-label for="confirmPassword">Confirm Password:</ion-label>
            <ion-input id="confirmPassword" type="password" formControlName="confirmPassword" required></ion-input>
            <ion-icon name="lock-closed"></ion-icon>
          </ion-item>
          <ion-grid *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="alert alert-danger">
            <ion-row>
              <ion-col><div class="error-text" *ngIf="confirmPassword?.errors?.['mustMatch']">passwords must match</div></ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button type="submit" [disabled]="!registerForm.valid">Register</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>      

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label style="color:black">Already have an account?</ion-label> <a routerLink="/authenticate"> Login</a>
          </ion-col>
        </ion-row>
      </ion-grid>   

    </ion-card-content>   
  </ion-card>

</ion-content>
