<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter</ion-title>
    <ion-chip slot="end" (click)="clickSaveAndFinish()" [disabled]="!isPageValid()">
      <ion-icon name="checkmark-circle" color="white"></ion-icon>
      <ion-label style="color:white">Save</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" scroll-y="false">
  
  <ion-fab horizontal="end" vertical="center" slot="fixed" activated="audioActive">
    <ion-fab-button color="danger" (click)="clickPlay()" close-icon="caret-forward">
      <ion-icon name="stop"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button (click)="clickShuffle($event)">
        <ion-icon name="shuffle"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="chapter-entry-box">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <ion-label position="stacked" color="black"><b>Title</b></ion-label>
          <ion-input type="text" inputmode="text" [(ngModel)]="chapter.title" placeholder="..."></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-select placeholder="Tags (optional)" [multiple]="true" (ionChange)="changeTags($event)">
            <ion-select-option *ngFor="let tag of tags" [value]="tag">{{tag.name}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label position="stacked" color="black"><b>Text</b></ion-label>
          <ion-textarea style="width:100%; height:50vh;" id="msgInput" rows="15" [(ngModel)]="chapter.body" type="text"  placeholder="..."></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>    
  </div>

  <!-- <ion-footer>
  <ion-toolbar>
      <audio controls style="width:100%" src="https://soundtracks.s3.us-east-1.amazonaws.com/chapter%20two.mp3">
      </audio>
    </ion-toolbar>
  </ion-footer> -->

  
</ion-content>
