// ::-webkit-scrollbar,
// *::-webkit-scrollbar {
//   display: none;
// }

// #chapter-entry {
//     padding: 2.5rem 2.5rem 1.5rem 2.5rem;
//     background-color: rgba(27, 31, 34, 0.85) !important;
//     border-radius: 1px;
// }

.image.main {
    display: block;
    margin: 2.5rem 0;
    width: 100%;
}

ion-chip {
    color:white;
  }
  
ion-label {
color:white;
}

ion-icon {
    color:white;
}
