
.image.main {
    display: block;
    margin: 2.5rem 0;
    width: 100%;
}

ion-chip {
    color:white;
  }
  
ion-label {
color:white;
}

// #chapter-entry {
//   // margin:10px auto;
//   // width:90%;
//   // height:90%;
//   // display:flex;
//   // flex-direction: column;
//   // align-items:center
// }

#chapter-entry > ion-item {
  width:100%;
}

.chapter-entry-box {
  background-color:white;
  color:black;
}

.chapter-entry-box > ion-label {
  color:black;
}



