<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
    <ion-buttons slot="end">
      <app-authentication-button></app-authentication-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <h2>Iter Meum</h2>
      <br />
      <p> Iter Meum is a simple journaling app to write about anything that's on your mind. 
      </p>
    </ion-label>
  </ion-item>
  <!-- <ion-item>
    <ion-label class="ion-text-wrap">

    </ion-label>
  </ion-item> -->

</ion-content>
