<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
    <ion-buttons slot="end">
      <app-authentication-button></app-authentication-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <h2>The Journey</h2>
      <br />
      <p> We live in a world that can easily overwhelm us. Whether it be our day to day obligations, bad news at a bad time,
        tirelessly caring for our loved ones, fighting our own inner struggles, regrets for bad decisions, you get the idea.
        Throughout a difficult time in my life, I learned that writing down my thoughts has had a positive impact
        on my outlook and wellbeing. 
      </p>
        
      <br />
      <p>After all, it's a form of expression, and there's something powerful about letting out those
        thoughts and emotions as opposed to keeping them inside you. Journaling has allowed me to push <i>Through</i> my problems, not around them. 
  
        I hope that it can also be a tool in your life, and push it in the direction that you want to.
      </p>
      
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <p>
        <i>
          Disclaimer: I'm not a doctor and don't intend to diagnose or treat any mental condition.
          If you're feeling overwhelmingly depressed, please seek professional help.
        </i>
      </p>
    </ion-label>
  </ion-item>

</ion-content>
