// ::-webkit-scrollbar,
// *::-webkit-scrollbar {
//   display: none;
// }

.image.main {
    display: block;
    margin: 2.5rem 0;
    width: 100%;
}

ion-chip {
    color:white;
  }
  
ion-label {
color:white;
}

ion-icon {
    color:white;
}

#chapter-entry > ion-item {
    width:100%;
  }
  
  .chapter-entry-box {
    background-color:white;
    color:black;
  }
  
  .chapter-entry-box > ion-label {
    color:black;
  }
