<ion-app id="home-page-background">
  
  <!-- <ion-split-pane contentId="main-content">
 
    
  </ion-split-pane> -->

  <ion-menu menuId="main-menu" contentId="main-content" side="end">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header [routerLink]="['/tabs/home']">Iter Meum</ion-list-header>
        <ion-note></ion-note>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <!-- <ion-list id="labels-list">
        <ion-list-header></ion-list-header>

        <ion-item *ngFor="let label of labels" lines="none" [routerLink]="[label.url]" routerLinkActive="selected">
          <ion-icon slot="start" [ios]="label.icon" [md]="label.icon + '-sharp'"></ion-icon>
          <ion-label>{{ label.title }}</ion-label>
        </ion-item>
      </ion-list> -->

    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="auth.isAuthenticated()">
      <ion-fab-button [routerLink]="['/tabs/chapters/new']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-app>
