// .home-background {
//     background-image: url("/assets/home-background.jpg");
//     background-position: 50% 50%;
//     height: 100%;
//     width: 100%;
// }

.icon-inner {
    color:white;
    background-color: white;
}

ion-icon {
    color:white;
}

ion-tab-button {
    color:white;
}