<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="home" color="white">
      <ion-icon name="home-outline" color="white"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chapters">
      <ion-icon name="folder-outline" color="white"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quote">
      <ion-icon name="reader-outline" color="white"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tags">
      <ion-icon name="person-outline" color="white"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>