<ion-header>
  <ion-toolbar>
    <ion-title>Daily Quote</ion-title>
    <ion-menu-button menu="main-menu" slot="end">
      <ion-avatar>
        <app-avatar></app-avatar>
      </ion-avatar>
    </ion-menu-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-progress-bar *ngIf="!loaded" type="indeterminate" style="margin-top:50%"></ion-progress-bar>
  
  <ion-grid style="height: 100%" *ngIf="loaded">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card>
        <img src="./assets/quote-book.jpg" />
      <ion-card-header>
        <ion-card-subtitle>daily quote</ion-card-subtitle>
        <ion-card-title><blockquote>"{{quote.text}}"</blockquote></ion-card-title>
       </ion-card-header>
       <ion-card-content align="right">
        <ion-note>- {{quote.author}}</ion-note>
      </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>
